@font-face {
   font-family: 'PlaneCrash';
   font-display: swap;
   src: url('file:///C:/Users/yenuar/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-05-10_054202/fonts/PlaneCrash/font.ttf');
}
